@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
} */

.popup-content {
  background: transparent !important;
  padding: 5px;
  margin-top: 10% !important;
  width: 50% !important;
  height: 30% !important;
}
.popup-overlay {
  background: rgba(0, 0, 0, .8)
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 40px;
  border-radius: 18px;
}

.dropdown-toggle:after {
  border: 0;
  border: solid #6d6f71;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: translate(-50%) rotate(45deg);
  -webkit-transform: translate(-50%) rotate(45deg);
  position: absolute;
  bottom: 2px;
  left: 0;
}
